
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body { 
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
}

::selection{
    background:#009970;
    color: #fff;
}

.container{
    width: 380px;
    background: #fff;
    border-radius:15px ;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0, 15);
}

.container h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, #373844, #4286f4);
}

.container form{
    padding: 10px 30px 50px 30px;
}
.container form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.container form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.container form .field input:focus,
form .field input:valid{
    background-color: #4286f4;
}

.container form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    position: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
    top:0%;
    font-size: 16px;
    color: #4286f4;
    background: #fff;
    transform: translateY(-50%);
}
form .content{
    display: flex;
    width: 100%;
    height: 50%;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}
form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
form .content input{
    width: 15px;
    height:15px;
    background: red;
}
form .content label{
    color: #262626;
    user-select: none;
    padding: 5px;
}
form .content .forget{
    color:"";
}
form .field input[type="sumbit"]{
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #373844, #4286f4);
    transition: all 0.3s ease;
}
form .field input[type="sumbit"]:active{
    transform: scale(0.95);
}
form .signup{
    color: #262626;
    margin-top: 20px;
    text-align: center;
}
form .forget a,
form .signup a{
    color:#4286f4;
    text-decoration: none;
}
form .forget a:hover,
form .signup a:hover{
    text-decoration: none;
}
