* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand {
    font-weight: 500;
    color:#009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s #00b383;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color:#666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible;
}
}

.hero-section {
    background: url(Gambar/gedung-baru-upi-purwakarta.jpeg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section::before {
    background-color: rgba(0,0,0,0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container{
    height: 100vh;
    z-index:1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2{
    font-size: 1.3em;
}

main {
    padding: 2em;
}

.page {
    margin-bottom: 2em;
    padding: 1em;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form .login-btn {
    background: #007BFF;
    color: #fff;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

form .login-btn:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 0.8em;
    text-align: left;
}

table th {
    background: #007BFF;
    color: #fff;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
    margin-top: 2em;
}