.navbar {
    background-color: rgba(0, 128, 0, 0.7);
    overflow: hidden;
}

/* Gaya untuk tautan di navbar */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Gaya untuk tautan saat dihover */
.navbar a:hover {
    background-color: #ddd;
    color: greenyellow;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f8e6;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333
}

/* Img */
img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.back-to-top {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007f46;
    text-decoration: none;
}

h2#keunggulan {
    color: #007f46;
    margin-top: 30px;
}

h2 {
    font-size: 1.5rem;
    color: #007f46; /* Warna hijau lebih gelap */
    margin-top: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
    color: #444;
}